@swimLanes: 2;
@background: #298fca;
@swimLaneWidth: 100vw / @swimLanes - 1vw;
@lightGreen: #40a35b;
@cyan: #0094ae;
@green: #458131;
@blue: #0067a3;

body {
    background-color: @background;
}

h1 {
    margin-left: 1.5vw;
}

.SwimLane {
    background-color: #fff;
    float: left;
    border: 10px solid @background;
    width: @swimLaneWidth;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    .Card {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: @swimLaneWidth - 4vw;
        min-height: 40px;
        .shadow-small;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &.green {
            background-color: lighten(@green, 30%);
        }
        &.lightGreen {
            background-color: lighten(@lightGreen, 30%);
        }
        &.blue {
            background-color: lighten(@blue, 30%);
        }
        &.cyan {
            background-color: lighten(@cyan, 30%);
        }
        &:hover {
            .shadow-big;
        }
        span {
            display: block;
            padding: .7em 0 .7em 1em;
            &.desc {
                padding: .7em 0 .7em 2em;
            }
        }
        .Users {
            display: inline-flex;
            margin: 0 0 1em 1em;
            .User {
                img {
                    float: left;
                }
            }
        }
    }
}

.shadow-small {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-big {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
